@model HelloWorlds.Web.Models.Term

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammingLanguage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
